# Práctica 1. Limpieza de datos

[Encuesta Nacional de Ingresos y Gastos de los Hogares Estacional, 2020](https://www.inegi.org.mx/programas/enigh/est/2020/#Microdatos)

In [1]:
import pandas as pd
import numpy as np

**1) Limpieza de datos**

In [2]:
# Rutear la ubicación de las bases de datos

path_poblacion = r'.\enigh2020_est_poblacion_csv\poblacion.csv'
path_viviendas = r'.\enigh2020_est_viviendas_csv\viviendas.csv'

In [3]:
# Cargar las bases de datos. En este caso, tomamos 2 bases de datos para unir campos de interés de cada una. 

poblacion = pd.read_csv(path_poblacion)
viviendas = pd.read_csv(path_viviendas)

C:\Users\patri\anaconda3\envs\geo_env\lib\site-packages\IPython\core\interactiveshell.py:3457: DtypeWarning: Columns (10,80,81,162) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [4]:
viviendas

,folioviv,tipo_viv,mat_pared,mat_techos,mat_pisos,antiguedad,antigua_ne,cocina,cocina_dor,cuart_dorm,...,tot_resid,tot_hom,tot_muj,tot_hog,ubica_geo,tam_loc,est_socio,est_dis,upm,factor_viv
0,1000540601,1,8,10,3,30,,1,2,1,...,1,0,1,1,1001,1,3,5,1,1093
1,1000540602,3,8,10,3,50,,1,1,1,...,2,0,2,1,1001,1,3,5,1,1093
2,1000540603,1,8,10,3,40,,1,2,3,...,3,0,3,1,1001,1,3,5,1,1093
3,1000540605,1,8,10,3,16,,1,2,4,...,4,1,3,1,1001,1,3,5,1,1093
4,1000610101,1,8,10,3,,1,1,2,2,...,3,1,2,1,1001,1,2,4,2,975
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11804,32607690902,1,8,10,3,15,,1,2,1,...,3,2,1,1,32011,4,2,275,2280,932
11805,32607690903,1,8,10,2,18,,1,2,1,...,1,0,1,1,32011,4,2,275,2280,932
11806,32607690904,1,7,10,3,50,,1,2,2,...,8,4,4,1,32011,4,2,275,2280,932
11807,32607690905,1,8,10,3,10,,1,2,1,...,1,0,1,1,32011,4,2,275,2280,932
11808,32607690906,1,8,10,2,,1,1,2,1,...,3,2,1,1,32011,4,2,275,2280,932

In [5]:
# Unir ambas bases de datos conforme a la key "folioviv" 

df_conjunto = poblacion.merge(viviendas, how='inner', on='folioviv')

In [6]:
# Quitar las columnas que no nos interesan

df_conjunto.drop(columns=['madre_hog','madre_id', 'padre_hog', 'padre_id', 'disc1', 'disc2', 'disc3', 'disc4', 'disc5', 'disc6','disc7', 'causa1', 'causa2', 'causa3', 'causa4', 'causa5', 'causa6', 'causa7', 'hablaind', 'lenguaind', 'hablaesp', 'comprenind','etnia', 'alfabetism', 'asis_esc', 'nivel', 'grado', 'tipoesc', 'tiene_b', 'otorg_b', 'forma_b', 'tiene_c', 'otorg_c', 'forma_c','antec_esc','residencia','segsoc', 'ss_aa', 'ss_mm', 'redsoc_1', 'redsoc_2', 'redsoc_3', 'redsoc_4', 'redsoc_5', 'redsoc_6', 'usotiempo1', 'hor_2', 'min_2', 'usotiempo2', 'hor_3', 'min_3', 'usotiempo3', 'hor_4', 'min_4', 'usotiempo4', 'hor_5', 'min_5','usotiempo5', 'hor_6', 'min_6', 'usotiempo6', 'hor_7', 'min_7', 'usotiempo7', 'hor_8', 'min_8', 'usotiempo8', 'segpop', 'atemed','inst_1', 'inst_2', 'inst_3', 'inst_4', 'inst_5', 'inst_6', 'inscr_1', 'inscr_2', 'inscr_3', 'inscr_4', 'inscr_5', 'inscr_6','inscr_7', 'inscr_8', 'prob_anio', 'prob_mes', 'prob_sal', 'aten_sal', 'servmed_1', 'servmed_2', 'servmed_3', 'servmed_4', 'servmed_5', 'servmed_6', 'servmed_7', 'servmed_8', 'servmed_9', 'servmed_10', 'servmed_11', 'hh_lug', 'mm_lug', 'hh_esp', 'mm_esp', 'pagoaten_1', 'pagoaten_2', 'pagoaten_3', 'pagoaten_4', 'pagoaten_5', 'pagoaten_6', 'pagoaten_7', 'noatenc_1', 'noatenc_2','noatenc_3', 'noatenc_4', 'noatenc_5', 'noatenc_6', 'noatenc_7', 'noatenc_8', 'noatenc_9', 'noatenc_10', 'noatenc_11', 'noatenc_12','noatenc_13', 'noatenc_14', 'noatenc_15', 'noatenc_16', 'norecib_1', 'norecib_2', 'norecib_3', 'norecib_4', 'norecib_5', 'norecib_6','norecib_7', 'norecib_8', 'norecib_9', 'norecib_10', 'norecib_11', 'razon_1', 'razon_2', 'razon_3', 'razon_4', 'razon_5', 'razon_6','razon_7', 'razon_8', 'razon_9', 'razon_10', 'razon_11', 'diabetes', 'pres_alta', 'peso', 'segvol_1', 'segvol_2', 'segvol_3', 'segvol_4','segvol_5', 'segvol_6', 'segvol_7', 'hijos_viv', 'hijos_mue', 'hijos_sob', 'trabajo_mp', 'motivo_aus', 'act_pnea1', 'act_pnea2','num_trabaj', 'c_futuro', 'ct_futuro', 'cant_jcf', 'num_dueno1', 'hog_dueno1', 'num_dueno2', 'hog_dueno2', 'escrituras','lavadero', 'fregadero', 'regadera', 'tinaco_azo', 'cisterna', 'pileta', 'calent_sol', 'calent_gas', 'medidor_luz', 'bomba_agua', 'tanque_gas','aire_acond', 'calefacc', 'mat_techos', 'combustible', 'estufa_chi', 'eli_basura', 'pago_mesp',
                         'pareja_hog', 'conyuge_id','antigua_ne', 'uso_compar', 'biodigest', 'estim_pago', 'viv_usada', 'tipo_finan', 'est_dis', 'upm'], inplace=True)

In [7]:
# Visualizar los primeros 10 renglones de la base de datos

df_conjunto.head(10)

,folioviv,foliohog,numren,parentesco,sexo,edad,nivelaprob,gradoaprob,edo_conyug,hor_1,...,pago_viv,tipo_adqui,tot_resid,tot_hom,tot_muj,tot_hog,ubica_geo,tam_loc,est_socio,factor_viv
0,1000540601,1,1,101,2,51,7,5,6,48,...,,2,1,0,1,1,1001,1,3,1093
1,1000540602,1,1,101,2,51,4,3,5,55,...,,,2,0,2,1,1001,1,3,1093
2,1000540602,1,2,301,2,15,3,1,6,,...,,,2,0,2,1,1001,1,3,1093
3,1000540603,1,1,101,2,39,7,2,6,72,...,,1,3,0,3,1,1001,1,3,1093
4,1000540603,1,2,606,2,85,3,3,5,,...,,1,3,0,3,1,1001,1,3,1093
5,1000540603,1,3,603,2,35,4,3,6,60,...,,1,3,0,3,1,1001,1,3,1093
6,1000540605,1,1,101,1,41,4,3,2,60,...,,1,4,1,3,1,1001,1,3,1093
7,1000540605,1,2,201,2,44,4,3,2,40,...,,1,4,1,3,1,1001,1,3,1093
8,1000540605,1,3,301,2,17,4,2,6,2,...,,1,4,1,3,1,1001,1,3,1093
9,1000540605,1,4,301,2,8,2,2,,,...,,1,4,1,3,1,1001,1,3,1093

In [8]:
valores_parentesco = sorted(df_conjunto.parentesco.unique())
valores_nivelaprob = sorted(df_conjunto.nivelaprob.unique())

In [9]:
etiquetas_parentesco = ['Jefe(a)', 'Esposo(a), compañero(a), cónyuge, pareja, marido, mujer, señor(a), consorte','Concubino(a)',
                       'Pareja del mismo sexo','Hijo(a), hijo(a) consanguíneo, hijo(a) reconocido',
                       'Hijo(a) adoptivo(a)','Hijastro(a), entenado(a)','Trabajador(a) doméstico(a)',
                       'Hijo(a) del(la) trabajador(a) doméstico(a)', 'Otro pariente del(la) trabajador(a) doméstico(a)',
                       'No tiene parentesco', 'Madre, padre', 'Padrastro, madrastra', 'Hermano(a)', 'Medio(a) hermano(a)','Abuelo(a)',
                       'Nieto(a)', 'Bisnieto(a)', 'Tataranieto(a)', 'Tío(a)', 'Sobrino(a)', 'Primo(a)', 'Suegro(a)',
                       'Nuera, yerno','Cuñado(a)', 'Concuño(a)', 'Ahijado(a)', 'Familiar, otro parentesco','Huésped, abonado(a), pensionista']

In [10]:
etiquetas_nivelaprob = ['', 'Ninguno', 'Preescolar', 'Primaria', 'Secundaria', 'Preparatoria o bachillerato',
                       'Normal', 'Carrera técnica o comercial', 'Profesional', 'Maestría', 'Doctorado']

In [11]:
df_conjunto.parentesco = df_conjunto.parentesco.replace(valores_parentesco, etiquetas_parentesco)
df_conjunto.nivelaprob = df_conjunto.nivelaprob.replace(valores_nivelaprob, etiquetas_nivelaprob)

In [12]:
# Asignar etiquetas a valores(códigos númericos) de la base de datos

df_conjunto.sexo = df_conjunto.sexo.replace(to_replace = [1,2], value = ['Hombre', 'Mujer'])
df_conjunto.tipo_viv = df_conjunto.tipo_viv.replace(['1','2','3','4','5', '&'], ['Casa independiente', 'Departamento en edificio','Vivienda en vecindad', 'Vivienda en cuarto de azotea', 'Local no construido para habitación', 'No especificado'])
df_conjunto.mat_pared = df_conjunto.mat_pared.replace([1,2,3,4,5,6,7,8], ['Material de desecho', 'Lámina de cartón','Lámina de asbesto o metálica', 'Carrizo bambú o palma','Embarro o bajareque', 'Madera', 'Adobe', 'Tabique, ladrillo, block, piedra, cantera, cemento o concreto'])
df_conjunto.mat_pisos = df_conjunto.mat_pisos.replace([1,2,3], ['Tierra', 'Cemento o firme', 'Madera, mosaico u otro recubrimiento'])
df_conjunto.cocina = df_conjunto.cocina.replace([1,2], ['Sí', 'No'])
df_conjunto.cocina_dor = df_conjunto.cocina_dor.replace([1,2], ['Sí', 'No'])
df_conjunto.disp_agua = df_conjunto.disp_agua.replace([1,2,3,4,5,6,7], ['Agua entubada dentro de la vivienda', 'Agua entubada fuera de la vivienda, pero dentro del terreno', 'Agua entubada de llave pública (o hidrante)', 'Captadores de agua de lluvia', 'Agua entubada que acarrean de otra vivienda','Agua de pipa', 'Agua de un pozo, río, lago, arroyo u otra'])
df_conjunto.dotac_agua = df_conjunto.dotac_agua.replace([1,2,3,4,5], ['Diario', 'Cada tercer día', 'Dos veces por semana', 'Una vez por semana','De vez en cuando'])
df_conjunto.excusado = df_conjunto.excusado.replace([1,2], ['Sí', 'No'])
df_conjunto.sanit_agua = df_conjunto.sanit_agua.replace([1,2,3], ['Tiene descarga directa de agua', 'Le echan agua con cubeta', 'No se le puede echar agua'])
df_conjunto.drenaje = df_conjunto.drenaje.replace([1,2,3,4,5], ['La red pública', 'Una fosa séptica', 'Una tubería que va a dar a una barranca o grieta','Una tubería que va a dar a un río, lago o mar', 'No tiene drenaje'])
df_conjunto.disp_elect = df_conjunto.disp_elect.replace([1,2,3,4,5], ['Del servicio público', 'De una planta particular', 'De panel solar','De otra fuente', 'No tiene luz eléctrica'])
df_conjunto.tenencia = df_conjunto.tenencia.replace([1,2,3,4,5,6], ['Es rentada','Es prestada', 'Es propia pero la están pagando','Es propia', 'Está intestada o en litigio', 'Otra situación'])
df_conjunto.tam_loc = df_conjunto.tam_loc.replace([1,2,3,4], ['Localidades con 100 000 y más habitantes', 'Localidades con 15 000 a 99 999 habitantes','Localidades con 2 500 a 14 999 habitantes', 'Localidades con menos de 2 500 habitantes'])
df_conjunto.est_socio = df_conjunto.est_socio.replace([1,2,3,4], ['Bajo', 'Medio bajo', 'Medio alto', 'Alto'])

In [13]:
df_conjunto['ubica_geo'] = df_conjunto['ubica_geo'].apply(lambda x: '{0:0>5}'.format(x))

In [14]:
df_conjunto['cve_ent'] = df_conjunto['ubica_geo'].str.slice(start=0, stop=2)

In [15]:
valores_entidad = sorted(df_conjunto.cve_ent.unique())

In [16]:
etiquetas_entidad = ['Aguascalientes', 'Baja California','Baja California Sur','Campeche','Coahuila de Zaragoza','Colima','Chiapas','Chihuahua','Ciudad de México','Durango','Guanajuato','Guerrero',
                     'Hidalgo','Jalisco','México','Michoacán de Ocampo','Morelos','Nayarit','Nuevo León','Oaxaca','Puebla','Querétaro','Quintana Roo','San Luis Potosí','Sinaloa','Sonora','Tabasco',
                     'Tamaulipas','Tlaxcala','Veracruz de Ignacio de la Llave','Yucatán','Zacatecas']

In [17]:
df_conjunto.cve_ent = df_conjunto.cve_ent.replace(valores_entidad, etiquetas_entidad)

In [18]:
df_conjunto.to_excel('enigh_limpia.xlsx')